#moveBox{
	width: 300px;
	height: 300px;
	background-color: blue;
	cursor: pointer;
	position: absolute;
}
#html5Box{
	left: 500px;
	width: 300px;
	height: 300px;
	background-color: red;
	cursor: pointer;
	position: absolute;
}